#info-nav a {
    text-decoration: none;
}

#info {
    width: 500px;
    border: 1px solid #999;
    padding: 0 10px;
}

#info div {
    width: inherit;
    background-color: inherit;
    padding: 10px;
}

#info-nav {
    margin: 0;
    padding: 3px 0;
    width: 100%;
    list-style: none;
}

#info-nav li {
    display: inline;
    background: #ccc;
    border: 1px solid #888;
    border-bottom: 0;
    margin-right: 2px;
    padding: 3px;
}

#info-nav li a:hover {
    color: #d15600;
}

#info-nav li.courant {
    background: #fff;
    padding-bottom: 4px;
}