* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

div#cibles {
    width: 80%;
    margin: 0 auto;
}

div#cibles div {
    height: 150px;
    display: inline-block;
    vertical-align: top;
}

div#cibles div:not(:first-of-type) {
    margin-left: 5%
}

div#cibles>div>span.etiquette {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    margin: 0 auto;
    background-color: rgba(250, 255, 251, 0.6);
    padding: 5px;
    border-radius: 10px 10px;
    border: 2px solid #0000aa;
}

div#cibles>div:nth-of-type(1) {
    background-color: #00aa00;
    width: 10%;
}

div#cibles>div:nth-of-type(2) {
    background-color: #ff3aa9;
    width: 30%;
}

div#cibles>div:nth-of-type(3) {
    background-color: #fbe75f;
    width: 5%;
}

div#cibles>div:nth-of-type(4) {
    background-color: #90a5ec;
    width: 20%;
}

div#cibles>div:nth-of-type(5) {
    background-color: #5e5e5e;
    width: 12%;
}